<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>ClimIFBA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
</head>

<div>
    <header>
        <img id="logo" src="../static/images/LogoT.webp" alt="ClimIFBA Logo" />
        <h1>Meteoreologia Valença-BA</h1>
    </header>

    <body>
        <form action="/" method="POST">
            <fieldset id="field">
                <div id="sfield">
                    <h2 id="tdinicial" class="dinicial">Data e Hora <br /> Inicial:</h2>
                        <input id="fdinicial" class="dinicial" type="datetime-local" value="{{dinicial}}" name="dinicial"/>

                    <h2  id="tdfinal" class="dfinal">Data e Hora <br /> Final:</h2>
                        <input id="fdfinal" class="dfinal" type="datetime-local" value="{{dfinal}}" name="dfinal">

                        <button id="enviar" type="submit">Enviar</button>

                <img id="graph" src="data:image/png;base64,{{ graph }}" alt="Gráfico da Temperatura e Umidade" />

            </fieldset>
        </form>

        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>

    <footer>
        <img id="ifba" src="../static/images/ifbame.webp" alt="Imagem do Rodapé">
    </footer>
</div>
</html>