<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ClimIFBA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
</head>

<body>
  <header>
    <img id="logo" src="{{ url_for('static', filename='images/LogoT.webp') }}" alt="ClimIFBA" />
    <h1>Meteorologia IFBA Valença</h1>
  </header>

  <div class="sfield">
    <form action="/" method="POST">
      <div class="inicio">
        <h2 id="tdinicial" class="dinicial">Data e Hora <br /> Inicial:</h2>
        <input id="fdinicial" class="dinicial" type="datetime-local" value="{{dinicial}}" name="dinicial" />
      </div>

      <div class="fim">
        <h2  id="tdfinal" class="dfinal">Data e Hora <br /> Final:</h2>
        <input id="fdfinal" class="dfinal" type="datetime-local" value="{{dfinal}}" name="dfinal" />
      </div>

      <div class="botao">
        <button id="enviar" type="submit">Enviar</button>
      </div>
    </form>
  </div>

  <div class="grafico">
    <img src="data:image/png;base64,{{ graph }}" alt="Gráfico da Temperatura e Umidade" />

    <div class="btn_download">
      <a href="data:image/png;base64,{{ graph }}" download="graph.png">
        <input id="download" type="button" />
      </a>
    </div>
  </div>

  <div class="rodape">
    <a href="http://portal.ifba.edu.br/valenca" target="_blank"><img src="{{ url_for('static', filename='images/ifba.webp') }}" alt="IFBA"></a>
    <a href="https://palletsprojects.com/p/flask/" target="_blank"><img src="{{ url_for('static', filename='images/madewithflask.webp') }}" alt="Feito com Flask"></a>
  </div>
</body>
</html>
