@charset "UTF-8";

* {
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: skyblue;
}

p {
  font-weight: bolder;
}

header {
  height: auto;
  width: 50%;
  min-width: 640px;
  margin: 10px auto;
  border: groove medium;
  padding: 10px;
  background-color: #0A5517;
  text-align: center;
}

header h1 {
  font-size: x-large;
  margin: auto;
  background-color: #19882c;
  color: white;
}

#logo {
  background-color: #58771b;
}

.sfield {
  text-align: center;
  height: auto;
  width: 50%;
  min-width: 640px;
  margin: 10px auto;
  border: groove medium;
  padding: 10px;
  background-color: white;
}

.inicio {
  width: 50%;
  float: left;
  margin-left: auto;
}

.fim {
  width: 50%;
  float: left;
  margin-left: auto;
}

.botao {
  width: 100%;
}

input:hover {
  background-color: #ccc;
  font-weight: bolder;
}

#enviar {
  background-color: #4CAF50;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 20px 8px;
  font-size: 16px;
  cursor: pointer;
}

#enviar:hover {
  background-color: #46a049;
  color: black;
}

.grafico {
  position: relative;
  text-align: center;
  height: auto;
  width: 50%;
  min-width: 640px;
  margin: 10px auto;
  border: groove medium;
  padding: 10px;
  background-color: white;
}

.btn_download {
  position: absolute;
  padding: 5px;
  right: 0;
  bottom: 0;
}

#download{
  background-color: black;
  background-image: url(../images/downloadw.webp);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#download:hover{
  background-color: white;
  border-style: solid;
  background-image: url(../images/downloadb.webp);
}

.rodape {
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: 50%;
  min-width: 640px;
  margin: 10px auto;
  border: groove medium;
  padding: 10px;
  background-color: white;
}
